/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 22px */
/* 24px */
/* 28px */
/* 44px */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans';
  font-style: normal;
  line-height: 25px; }

.container {
  max-height: 90px;
  background-color: #1C1C1C;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .container .logo-container {
    display: flex; }
  .container .menu .buttons {
    color: #12B0C9;
    text-decoration: none;
    font-size: 1.125rem; }
  .container .menu .space-itens {
    margin-right: 50px; }
